*{
  
    font-family: 'Playpen Sans', cursive;
    font-size: 21px;
    font-weight: 530;
}
.hi{
    margin-top: -170px;
    margin-left: 283px;
}
.how{
    margin-top: -23px;
    margin-left: 270px;

}